body{
    font-family: Arial, sans-serif;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
}

.container{
    display: flex;
    gap: 120px;
}

 h1{
    align-items: center;
    font-size: 80px;

}

.studenty_tracker, .studenty_trackerDis{
    background-color:white ;
    padding: 120px;
    box-shadow: 0 0  10px  rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 350px;

}

h2{
    margin: 0;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px ;

    
}

input,select,button{
    font-size: 16px;
    padding: 20px;
    border: 1px solid #ccc ;
    border-radius: 4px;

}

button{
    background-color: #007bff;
    color: white ;
    cursor: pointer;
}

button:disabled{
    cursor: not-allowed;
    background-color: #ccc;

}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}






